// Define variables for your color scheme

// For example:
$red: #B62828;
$black: #243038;
$blue: #387BB4;
$yellow: #FFC65A;
$orange: #E67F23;
$green: #22C3B5;
$gray: #606060;
$light-gray: #F6F6F6;
$black-selected: #333232;
